<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string>
  <key>uploadBitcode</key>
  <false/>
  <key>compileBitcode</key>
  <false/>
  <key>stripSwiftSymbols</key>
  <true/>
</dict>
</plist>
keytool -genkey -v -keystore ys.keystore -alias upload -keyalg RSA -keysize 2048 -validity 10000
