name: Release Build

on:
  push:
    tags:
      - 'v*.*.*'   # Example: v1.0.0, v2.1.5

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test --coverage

      - name: Build Android App Bundle
        run: flutter build appbundle --release

      - name: Upload Android AAB Artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-release-aab
          path: build/app/outputs/bundle/release/app-release.aab
      - name: Install Fastlane
        run: sudo gem install fastlane

      - name: Android Play Store Deploy
        if: startsWith(github.ref, 'refs/tags/')
        run: fastlane android deploy_internal


  ios-build:
    runs-on: macos-latest
    if: runner.os == 'macOS'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Install CocoaPods
        run: |
          cd ios
          pod install --repo-update

      - name: Build iOS Archive
        run: |
          flutter build ipa --release \
          --export-options-plist=ios/exportOptions.plist
      - name: iOS TestFlight Deploy
        if: startsWith(github.ref, 'refs/tags/')
        run: fastlane ios beta

      - name: Upload iOS IPA Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ios-release-ipa
          path: build/ios/ipa/*.ipa
